html{
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#global-header{
    margin: 20px 10px;
}
nav{
    display: grid;
    gap: 1rem;
    a{
        text-decoration: none;
        color: #000;
    }
}

#banner{
    display: flex;
    flex-wrap: wrap;
    background-color: #ccc;
    justify-content: flex-end;
    padding: 35px;
    margin: 50px 10px;

    h2{
        font-size: 35px;
        text-align: right;
    }
    p{
        font-size: 16px;
        text-align: right;
    }
    button{
        font-size: 16px;
        font-weight: bold;
        padding: 15px;
        width: 250px;
        border: none;
        background-color: #fff;
        list-style: none;
        a{
            text-decoration: none;
            color: #000;
        }
    }
}

.search-place{
    padding: 8px;
    width: 225px;
    border: 1px solid #000;
}
#search-button{
    padding: 8px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #000;
}
#main-logo-header, #main-logo-footer{
    border-radius: 100px;
}

.flex-menu{
    display: grid;
    gap: 1rem;
    list-style: none;
    padding: 0;
}
.flex-menu a{
    text-decoration: none;
    color: #000;
}

#produkter button{
    padding: 15px;
    margin: 10px 10px 50px;
    width: fit-content;
    background-color: #fff;
    border: 1px solid #000;
    list-style: none;
    a{
        text-decoration: none;
        color: #000;
    }
}
#produkter button:hover{
    background-color: #aaa;
}

.prod-card{
    max-width: 800px;
    width: 100%;
    padding: 10px;

    img{
        width: 100%;
        border-radius: 25px;
    }
    a{
        font-size: 14px;
        text-decoration: none;
        color: #000;
    }
    p{
        font-size: 16px;
    }
}
.prod-pic{
    max-width: 800px;
    padding: 5px 10px;
    img{
        width: 100%;
    }
}
.prod-card-aside{    
    max-width: 800px;
    img{
        width: 100%;
    }
    h2{
        font-size: 26px;
    }
    a{
        font-size: 14px;
        text-decoration: none;
        color: #000;
    }
}
.aside-product{
    padding: 20px;
    h2{
        padding-bottom: 20px;
    }
}

#produktnavn{
    padding: 20px 10px;

    h1{
        font-size: 24px;
    }
    a{
        color: #000;
    }
}

#produkter{
    h1{
        font-size: 26px;
        padding: 0px 10px;
    }
    p{
        font-size: 16px;
        padding: 0px 10px;
    }
}
#kategorier{
    h1{
        font-size: 26px;
        margin: 50px 10px 25px;
    }
    p{
        font-size: 16px;
        margin: 10px 10px 50px;
    }
    
}
.category-card{
    max-width: 100%;
    height: 275px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    h2{
        text-align: center;
        padding: 50px;
        margin: 50px;
    }
}

#reviews h4{
    font-size: 26px;
    font-weight: bold;
    margin: 50px 10px 25px;
}
.review-card{
    max-width: 100%;
    height: 280px;
    border: 1px solid #cacaca;
    padding: 10px;
    margin: 10px;
    
    h5{
        font-size: 18px;
        margin: 15px 0px;
    }
    p{
        font-size: 16px;
    }
    img{
        max-width: 150px;
    }
}

.breadcrumb{
    display: flex;
    list-style: none;
    padding: 50px 10px 10px;
    gap: 1rem;
    margin: 0;
    a{
        text-decoration: none;
        color: #000;
    }
}

#checkout{
    margin-left: 10px;
    margin-right: 10px;
}

#shop-bag{
    max-width: 800px;
    list-style: none;
    img{
        width: 100%;
        padding: 20px 0px;
    }
    h2{
        margin-top: 50px;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    p, h3{
        margin: 0;
    }
}

#pers-info{
    display: grid;

    label{
        padding: 5px 0px;
    }
    input{
        padding: 15px;
    }
    button{
        padding: 15px;
        margin: 30px 0px 10px 0px;
        width: 75px;
        background-color: #3c3c3c;
        color: #fff;
    }
}
#pers-info h2{
    margin-top: 50px;
    margin-bottom: 25px;
}

#delivery{
    display: grid;

    label{
        padding-bottom: 30px;
    }
}
#delivery h2{
    margin-top: 40px;
    margin-bottom: 10px;
}

#payment{
    display: grid;

    p{
        margin: 0px;
    }
    button{
        padding: 15px;
        margin-bottom: 15px;
        width: 100px;
        background-color: #3c3c3c;
        color: #fff;
    }
}
#payment div{
    display: grid;
    margin-bottom: 40px;

    label{
        padding: 5px 0px;
    }
    input{
        padding: 15px;
    }
    p{
        margin: 0;
    }
}
#payment h2{
    margin-top: 30px;
    margin-bottom: 25px;
}

footer{
    display: grid;
    margin: 50px 10px 25px;
    padding-top: 50px;
    border-top: 1px solid #000;
    
    h3{
        margin-top: 50px;
    }
    #bunn p{
        display: flex;
        gap: 1rem;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        a{
            text-decoration: none;
            color: #000;
        }
    }
    a{
        color: #000;
        margin: 15px;
    }
}

/*Desktop*/
@media only screen and (min-width: 800px){
    
    #grid-container{
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-template-rows: auto auto auto;
        max-width: 1200px;
    }
    
    header{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .flex-menu, nav{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0px 50px;
    }
    main{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    footer{
        display: flex;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}