html{
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#grid-container{
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
}

#global-header{
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#main-logo-header{
    max-height: 100px;
    border-radius: 100px;
}

#banner{
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://picsum.photos/id/11/1100/1300");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 1200px;
    border-radius: 33px;
    justify-content: flex-end;
    align-content: center;
    padding: 35px;

    h3{
        font-size: 35px;
    }
    p{
        text-wrap: balance;
        text-align: right;
    }
}

.prod-card{
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    padding: 1rem;

    img{
        width: 100%;
        border-radius: 25px;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
    flex-wrap: wrap;

    ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    p{
        gap: 1rem;
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

@media only screen and (min-width:800px){
    #menu{
        display: flex;
    }
}
@media only screen and (max-width: 800px){
    #grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    header, main, footer{
        grid-column: 1 / 2;
    }
    header{
        grid-row: 1 / 2;
    }
    main{
        grid-row: 2 / 3;
    }
    footer{
        grid-row: 3 / 4;
    }
}